<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>社区介绍</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div>
  <p style="text-align: center; ">
    <font size="6"><br></font>
  </p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p style="text-align: center; "><font size="7">北碚区童家溪镇概况</font></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;童家溪镇位于北碚区南端，地处重庆都市发达经济圈，东临嘉陵江，与北部新区隔江相望，南与沙坪坝区井口镇接壤，西与重庆大学科技园毗邻，北靠北碚风景旅游城市，紧邻主城区，经济地理位置十分优越，是重庆市实施“退二进三”发展战略中承接第二产业的首选接收地，全镇幅员面积22.7平方公里，森林面积9300亩，森林覆盖率35%，辖有建设、同兴2个村，58个农业合作社，2 个居委会。总人口1.78万，其中城镇人口0.74万人，农村劳动力5691人。 

　　<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;境内有重庆市同兴特色工业园区；有华立药业、银钢集团等科技含量高的骨干企业；有中安翡翠湖、水天花园等高品质生态楼盘和西部一流的红鼎高尔夫球会。
童家溪镇始终坚持“以开放促开发，以开发促发展”的战略，积极对外招商引资，使大量外商纷至沓来，形成了以摩托车及其配件、高级房地产开发、建筑建材、食品加工的经济结构。</font>
  </p>
  <p><br></p></div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.use(['form', 'jquery', 'layer', 'dialog'], function () {
    var $ = layui.jquery;

    //修改状态
    $('#table-list').on('click', '.table-list-status', function () {
      var That = $(this);
      var status = That.attr('data-status');
      var id = That.parent().attr('data-id');
      if (status == 1) {
        That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
      } else if (status == 2) {
        That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

      }
    })

  });
</script>
</body>

</html>